/* * {
    color: teal;
    background-color: white;
}

.bob-btn-visable, button, a {
    color: black;
    text-decoration: underline;
    border: 1px solid black;
}

.login-btn {
    color: black;
    border: 1px solid black;
} */
/* 
body {
    position: relative;
    border: 1px solid black;
    min-height: 100vh;
} */

form {
    position: relative;
}

#bob-navbar {
    position: absolute;
    bottom: 0;
}

.whitespace {
    min-height: 110px;
}