* {
  outline: none;
}

body {
  margin: 0;
}

.debug {
  border: 1px solid green;
}

form {
  position: relative;
}

#bob-navbar {
  z-index: 10;
}

.top-image {
  -o-object-fit: cover;
     object-fit: cover;
}

.bold-text {
  font-weight: bold;
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.nav-link {
  color: white !important;
}

/*                        layouts.app               */
.navbar-container {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  opacity: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.user-feedback {
  font-size: 14px;
}

.form-container {
  font-size: 16px;
}

/*                             login/register          */
.login-title {
  font-size: 24px;
  text-align: center;
  padding-top: 30px;
  margin: 30px;
  color: white;
}

.register-title {
  font-size: 24px;
  text-align: center;
  padding-top: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
}

.register-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-label {
  display: block;
  padding: 5px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.login-form {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80%;
  margin: auto;
  padding: 10px;
  z-index: 9;
  border-radius: 10px;
}

.form-input {
  display: block;
  min-width: 200px;
  padding: 5px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

.form-control {
  height: 30px;
  border-radius: 15px;
}

.form-check {
  padding: 20px;
}

.form-check .form-check-input {
  margin-left: 20px;
  display: inline-block;
  position: relative;
}

.login-bottom {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 30px;
}

.login-bottom .general-button {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 150px;
  border-radius: 15px;
  height: 30px;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(teal), to(silver));
  background: linear-gradient(to right, teal, silver);
}

.login-bottom .pw-reset-link {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 0 30px;
}

.signup-link-container {
  text-align: center;
  padding: 30px;
}

/*                         home.blade              */
.home-top {
  width: 100%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#FEAC5E), color-stop(#C779D0), to(#4BC0C8));
  background: linear-gradient(to right, #FEAC5E, #C779D0, #4BC0C8);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  color: white;
}

.home-top h2 {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.home-container {
  width: 100%;
  height: 100vh;
}

.home-container .top {
  width: 100%;
  height: 35vh;
  position: relative;
}

.home-container .top img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.user-feedback {
  font-size: 14px;
  padding: 0 20px;
}

/*                               account               */
.account-container .account-top {
  height: 30vh;
  text-align: center;
  padding: 10px 20px;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#FEAC5E), color-stop(#C779D0), to(#4BC0C8));
  background: linear-gradient(to right, #FEAC5E, #C779D0, #4BC0C8);
}

.account-container .account-top .account-name {
  font-size: 24px;
  text-align: center;
}

.account-container .account-top .account-image-container {
  height: 160px;
  text-align: center;
}

.account-container .account-top .account-image-container .account-image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 10px;
  display: block;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.account-container .account-top .account-property {
  font-size: 18px;
  text-align: left;
  padding: 0 20px;
  margin: 10px;
}

.account-container .account-top span {
  font-size: 12px;
  display: block;
  font-weight: bold;
}

.account-container .account-bottom {
  height: 40vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px;
}

.account-container .account-bottom .account-property {
  font-size: 18px;
  text-align: left;
  padding: 0 20px;
  margin: 10px 0;
  word-wrap: break-word;
}

.account-container .account-bottom .account-property span {
  width: 120px;
  display: inline-block;
  font-weight: bold;
}

.account-container .account-bottom .account-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  padding-top: 20px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-top: 1px solid black;
}

.account-container .account-bottom .account-links-container .account-link-btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding: 10px;
  margin: 0 10px;
  border-radius: 10px;
  font-weight: bold;
}

.account-container .contact-property {
  color: black;
  padding: 20px 40px;
}

/*                    edit account  */
.form-container {
  padding-top: 20px;
  width: 100vw;
  margin-bottom: 50px;
}

.form-container form {
  text-align: center;
  display: inline-block;
  width: 80%;
  margin-left: 10%;
}

.form-container form .add-file {
  padding: 5px 10px;
  display: block;
  margin: auto;
  font-size: 16px;
}

.form-container form .form-label {
  font-weight: bold;
  text-align: left;
}

.form-container form .form-input {
  z-index: 5;
  margin: 5px auto;
  border-radius: 15px;
  height: 30px;
  width: 90%;
}

.form-container form .account-eddit-button {
  -ms-flex-line-pack: center;
      align-content: center;
  display: inline-block;
  width: 130px;
  margin: 15px;
  border-radius: 15px;
  height: 30px;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(teal), to(silver));
  background: linear-gradient(to right, teal, silver);
}

.form-container form .account-delete-button {
  -ms-flex-line-pack: center;
      align-content: center;
  display: inline-block;
  width: 130px;
  margin: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 15px;
  height: 30px;
  border: none;
  color: red;
  background: #FEAC5E !important;
  border-color: red;
}

/*/////////////////////////////activities///////////////////////*/
.activities-index-top {
  height: 30vh;
  width: 100%;
  text-align: center;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#FEAC5E), color-stop(#C779D0), to(#4BC0C8));
  background: linear-gradient(to right, #FEAC5E, #C779D0, #4BC0C8);
}

.activities-index-top h3 {
  background-color: rgba(0, 0, 0, 0);
  padding: 60px;
}

.activity-list-container {
  z-index: 9;
  width: 100vw;
}

.activities-table-titles-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0);
}

.activities-table-titles-container .white-text {
  color: white;
}

.activities-table-titles-container .activity-index-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.activities-table-titles-container .activity-table {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.activity-add-container .activity-index-add {
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  display: block;
  width: 50%;
  margin: 10px;
  font-weight: bold;
  text-align: center;
}

.name-activity {
  text-align: center;
  margin: 30px;
}

.activity-property {
  padding: 10px 20px;
}

.activity-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activity-button-link {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 30px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid teal;
  text-align: center;
  color: teal;
  background: #b3f0ff;
}

.image-centered {
  display: block;
  margin: auto;
}

/*    ///////////////////////chat ////////////////////*/
.recieved-message {
  padding: 30px;
  border: 1px solid black;
}

.send-message {
  padding: 30px;
  border: 1px solid green;
  text-align: right;
}

#chat-pic-sender {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
}

.chat-message {
  display: inline-block;
}

.calendar-item {
  width: 80%;
  margin: auto;
  padding: 10px 0;
  border-bottom: 1px solid black;
}

.calendar-item a {
  display: inline-block;
  width: 80%;
}

.calendar-item button {
  display: inline-block;
  width: 20px;
  color: red;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
/*# sourceMappingURL=bobsass.css.map */