.card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.btn-toolbar {
    display: flex;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    align-items: center;
}