* {
    outline: none;
}

a   {
    color: black;
}

body {
    margin: 0;
}

.debug {
    border: 1px solid green;
}

.branding-logo {
    height: 40px;
    width: 40px;
}

.content-top {
    height: 30vh;
    width: 100%;
    background: -webkit-linear-gradient(to right, #FEAC5E,#C779D0, #4BC0C8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FEAC5E,#C779D0, #4BC0C8);  

    h2 {
        font-weight: bold;
        color: white;
    }
}

.section-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-bottom {
    height: 70vh;
}

.home-link-button {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65%;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid pink;
    text-align: center;

    h2 {
        margin: 20px;
    }
}

.home-link-image {
    width: 150px;
    height: 180px;
    display: block;
}



.form-fixed {
    position: fixed;
}

.signup-link-container {
    margin: 30px auto;
    position: fixed;
    bottom: 0;
    width: 100%;

    a {
        display: inline-block;
        width: 100%;
        margin: auto;
        font-size: 16px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid black;
    }
}

.signup-button {
    margin-top: 30px;
}

.loginpage {
    display: flex;
    align-items: center;
}

.container-navbar {
    z-index: 20;
    width: 100vw;
}

.activities-align-bot {
    position: relative;

    .activities-table-titles-container {
        position: absolute;
        bottom: 0;
    }
}

.activities-signup-link {
    height: 30vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    a {
        padding: 10px 30px;
        border: 1px solid black;
        margin: 10px 30px;
        color: white;
        font-weight: bold;
        border-radius: 10px;
    }
}

.activity-table {
    a {
        color: teal;
    }
}

.contact-property {

        .property {
            display: inline-block;
            width: 80px;
            font-weight: bold;
            text-transform: capitalize;
        }
}

.activities-sort-container {
    display:flex;
    height: 30vh;

    .activities-sort-link {
        flex: 1;
        margin: 20px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 10px;
        text-align: center;
    }
}

.account-delete-button {
    color: red;
    border-color: red;
}

.logo-subscript {
    font-size: 10px;
    color: grey;
    text-decoration: none;
    opacity: .5;
    margin: 10px;
    display: block;
}

#edit-profile-pic {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    margin: 10px auto 10px auto;
}

.edit-logo {
    width: 50px;
    height: 50px;
    margin: auto;
}

@media (max-width: 480px) {
    #fullscreen-div {
        display: none;
    }
}