.my-container {
    height: 100vh;
}

.my-row {
    max-height: 35vh;
}

button{
    color:black;
    border:1pc solid black;
}


.white-space{
    height:120px;
    background-color: rgba(250, 235, 215, 0.664);
}