.name-activity{
    font-family: 'Baloo Chettan', cursive;
}

.koenh2{
   margin-top:-100px!important ;
}

.user-feedback-animation{
    background-color:red;
    transition-duration: 2s;
    height:0px;
}


.category-selector{
    font-family: Nunito,sans-serif;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    height: 30px;
    border-radius: 15px;
}

/* PAGINATE */
.pagination{
    padding-left:20px;
    opacity: 0.7;
}
.page-link{
    opacity: 0.7;
}
.page-link{
    opacity: 0.7;
}

.page-item.active .page-link{
    background-color: teal;
    opacity: 0.7;
    border-color: teal;
}
/* EINDE PAGINATE */

.activities-title{
    font-family: Nunito,sans-serif;
    font-weight: bold;
}
.margin-content{
    margin:20px;
}

/* calender-items */
.calendar-item{
    border:6px solid #f8fafc;
    border-bottom: none!important;
}
.calendar-item a{
    color:teal;
}


.calendar-item:nth-child(even){
    background-color: rgba(128, 128, 128, 0.034);
    padding-left:10px;
}

.calendar-item:nth-child(odd){
background-color: rgba(128, 128, 128, 0.226);
padding-left:10px;
}

.calendar-item:nth-last-child(){
    border-bottom: none;
}